@media (max-width: 830px) {
    .navbar {
        width: 100vw;
        flex-direction: column;
        align-items: flex-start;
    }

    .toolbar {
        width: 100%;
        display: none;
    }

    .toolbar ul {
        width: 100%;
        flex-direction: row;
    }

    .toolbar li {
        font-size: small;
        text-align: center;
    }

    .toolbar.active {
        display: flex;
    }

    .toggle-button {
        display: flex;
    }
    
    .footer {
        height: 50px;
        font-size: 8px;
    }

    .contactimage {
        height: 25px;
        width: 25px;
    }
}