@import url(animation.css);
@import url(normalize.css);
@import url(responsive.css);

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #3a6899;
    cursor: pointer;
}

a:active {
    color: #faebd77f;
}

body {
    margin: auto;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

header.header {
    background-color: #000000;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo {
    font-size: 30px;
    padding-left: 20px;
    color:  #3a6899;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar {
    font-size: 18px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    padding-right: 20px;
}

.home {
    background: url(../image/big-sur-macbook-5k-b9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 300px 0 0 20px;
}

h2 {
    font-size: 30px;
    color: #ffffff;
    animation: fadeIn 1s ease-in;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    animation: fadeIn 3s ease-in;
}

.nameblock {
    font-size: 28px;
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.about {
    font-size: 24px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.project {
    font-size: 24px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

div.portfolio {
    font-size: 24px;    
    padding: 0 100px 70px 100px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
}

.portfolio_block {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 300px;
    width: 300px;
}

.portfolio_image {
    height: 200px;
    width: 200px;
    margin: 10px 0;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #3a68994a;
    cursor: pointer;
}

.portfolio_image:hover {
    border-color: #3a6899;
    border-width: 5px;
    transition: linear 0.5s;
}

.footer {
    width: 100vw;
    font-size: 12px;
    background-color: #000000;
    color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.copyright {
    display: flex;
    align-items: center;
}

.mediabox {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    gap: 5px;
}

.mediabox:hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactimage {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.contactimage:hover {
    height: 40px;
    width: 40px;
    margin: -2.5px;
}

html {
    scroll-behavior: smooth;
}